<ul>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      用户名
    </div>
    <div class="col-md-8">
      <%= user.name%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      性别
    </div>
    <div class="col-md-8">
      <%= user.gender%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      学院
    </div>
    <div class="col-md-8">
      <%= user.department%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      专业
    </div>
    <div class="col-md-8">
      <%= user.major%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      电话
    </div>
    <div class="col-md-8">
      <%= user.phone%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      QQ
    </div>
    <div class="col-md-8">
      <%= user.qq%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      自我介绍
    </div>
    <div class="col-md-8">
      <%= user.introduction%>
    </div>
  </div>
      </div>
</ul>
