<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 user_info",>
    <div>
    <section>
      <h1>
        <li><%= gravatar_for(@user,60) %></li>
        <li><%= @user.name %></li>
        <samll><%= link_to '编辑',edit_user_path(@user)%></samll>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    </div>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
        <h3>状态 (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>