<% i=0 %>
<div class="container-fluid">
  <%= form_tag('filters', remote: true) do %>
      <div id="department_filter">
        <div class="row"><h4>所属学院：</h4></div>
        <div class="row">
          <% if @all_depart %>
              <% @all_depart.each do |dep| %>
                  <% i+=1 %>
                  <div class="col-md-2">
                    <div class="checkbox ">
                      <%= check_box_tag 'dfilters[]', i %>
                      <%= label_tag dep.to_s %>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
      <div id="type">
        <div class="row"><h5>课程类型:</h5></div>
        <div class="row">
        <% i=0 %>
        <% if @all_type %>
            <% @all_type.each do |ctype| %>
                <% i+=1 %>
                  <div class="col-md-2">
                <div class="checkbox ">
                  <%= check_box_tag 'tfilters[]', i %>
                  <%= label_tag ctype.to_s %>
                  </div>
                </div>
            <% end %>
        <% end %>
        </div>
      </div>
      <%= submit_tag("提交", class: "btn btn-default") %>
  <% end %>
</div>