<h1>课程列表<small><%if current_user.admin?%><%= link_to "新增课程", new_course_path %></small><%end%></h1>

<div class="row">
  <aside class="col-md-5 col-md-offset-1">
    <div>
      <section>
        <%= form_tag('search', remote: true) do %>
            <div class="form-group">
              <div class="input-group">
                <%= text_field_tag :keywd %>
                <%= submit_tag "搜索", class: "btn btn-default" %>
            </div>
            </div>
        <% end %>
      </section>
        <%= render partial: 'filter_courses' %>
    </div>
  </aside>

  <div class="col-md-6">

    <ul id="courses">
        <%= render partial: "search_result", locals:{courses:@courses} %>
    </ul>
  </div>
</div>